.body {
    overflow-x: hidden;
}

.navbar {
    background-color: red;
}

.navbar-nav {
    margin-right: 2em;
    font-family: 'Lobster', cursive;
}

.nav-link {
    color: white;
    margin-right: 1em;
    font-size: 4vh;
}

.nav-link:hover{
    color: black;
}

.navbar-toggler {
    margin-right: 2em;
}

.nav-social {
    margin-left: 2em;
}

.nav-social a {
    font-size: 5vh;
    color: white;
    margin-left: 1em;
}

.nav-social a:hover {
    color: black;
}

.btn:hover {
    background-color:red;
    color: white;
    border: none;
}

.bg-image{
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 700px;
}

.bg-image .mask{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color:#fff;
}

.bg-image .mask .logo{
    height: 100%;
    max-width: 100%;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    flex-direction: column;
}


.container-fluid {
    padding: 0;
    margin: 0;
}

.heading {
    color:red;
    font-family: 'Lobster', cursive;
}

.footer {
    background-color: black;
}

.social i {
    font-size: 2em;
    padding: 0 .5em 1em 0;
}

.footer a {
    color: white;
}

.footer a:hover {
    color:red
}

.hours-sm {
    display: none;
}

ul {
    list-style-type: none;
}

.carousel-inner {
    background-color: black;
}

.main {
    width: 70%;
    margin: 0 auto;
}

.menu img {
    max-height: 500px;
}

.menu {
    background-color: black;
    color: white;
}

.menu h4 {
    color: red;
    text-align: center;
    font-weight: bold;
}

.menu h5 {
    font-weight: bold;
}

.row {
    margin: 15px;
  }

  .ekko-lightbox-nav-overlay a{-ms-flex:1;flex:1;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;opacity:0;transition:opacity .5s;color:red;font-size:30px;z-index:1}





@media screen and (max-width: 800px) {
    .hours-ext {
        display: none;
    }

    .hours-sm {
        display: grid;
    }

}

